#classes {
  font-family: 'Times New Roman', serif;
  font-size: 40px;
  margin: 5px;
  color: #F76C6C;
  letter-spacing: 2px;
  font-weight: bolder;
}

#chatrooms {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24305E;
  overflow: scroll;
}

.chatroom {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  width: 80%;
  margin-right: 5px;
  padding: 5px;
  border: 0;
  background-color: #24305E;
  color: white;
  font-weight: bold;
  transition-duration: 0.2s;
}

.chatroom:focus {
  outline: none;

}

.chatroom.selected {
  background: #A8D0E6;
  border-radius: 10px;
  color: black;
}

.chatroom:hover {
  background: #F76C6C;
  border-radius: 10px;
  cursor: pointer;
}
